<h1>Good Times in LA!!!</h1>

<% @good_times.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |good_time| %>
      <div class="col-md-4">
        <%= image_tag good_time.picture_url, width: '100%' if good_time.picture.present?%>
        <h4><%= link_to good_time.name, good_time %></h4>
        <%= good_time.description %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Create a New Good Time', new_good_time_path %>
